body {

    background-color: rgba(0, 255, 208, 0.656);

    text-align: center;

    color: rgba(0, 0, 0, 0.886);


}

h1{
    background-color: rgba(255, 255, 255, 0.545);
}
p{
    font-size: large;
}